

$black-normal: #0D0E10;
$black-dark: #050607;
$black-light: #15171A;


$white-normal: #F5F7F7;
$white-dark: #EDEFF0;
$white-light: #FAFCFC;

$blue-normal: #B74926;
$blue-dark: #9B3A1B;
$blue-light: #BF5634;

$gray-1: #777;

.color-gray{
    color: $gray-1;
}
